/* Imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  font-size: 16px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

/* Landing Page */
h1, h2, h3, h4, h5, h6 {
  font-family: GangOfThree;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Primary & Secondary Buttons */
/* Source: https://www.w3schools.com/css/css3_buttons.asp */
.PrimaryButton {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: "Saira", sans-serif;
  width: 10rem;
  height: 1rem;
  margin: 0.5rem;
}

.SecondaryButton {
  background-color: #000000;
  border: 2px solid #000000;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: "Saira", sans-serif;
  width: 10rem;
  height: 1rem;
  margin: 0.5rem;
}