/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'GangOfThree';
  src: local('GangOfThree'),
      url('./fonts/got.otf') format('otf');
}

p {
  font-size: 1rem;
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

p, a {
  font-family: "Saira", sans-serif;
}

/* NavBar */
.navLinks:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  font-weight: bold;
  transition: font-weight 1s ease;
}

.navLinks:not(:hover) {
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}

/* Landing Page */
h1, h2, h3, h4, h5, h6 {
  font-family: GangOfThree;
}

.App, .Signup, .Dashboard {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.Star-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Star-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header, .Signup-header, .Login-header, .Dashboard-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Primary & Secondary Buttons */
/* Source: https://www.w3schools.com/css/css3_buttons.asp */
.PrimaryButton {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: "Saira", sans-serif;
  margin: 0.5rem;
  width: 16rem;
}

.PrimaryButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.PrimaryButton:not(:hover) {
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}

.PrimaryButton:active {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

.SecondaryButton {
  background-color: #000000;
  border: 2px solid #000000;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-family: "Saira", sans-serif;
  margin: 0.5rem;
  width: 16rem;
}

.SecondaryButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.SecondaryButton:not(:hover) {
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}

.SecondaryButton:active {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

/* Webcam */
video {
  transform: scaleX(-1);
}

/* About Us Page */
.aboutUsCard:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.aboutUsCard:not(:hover) {
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}

.aboutUsCard:active {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}

.Input {
  border: .4px solid #000000;
  border-radius: 8px;
  padding: 5px 12px;
  margin: 0.3rem;
  width: 16rem;
  font-family: "Saira", sans-serif;
}